.preview-container {
  border: 1px solid red;
  width: 414px;
  height: 736px;
  float: left;
  overflow: auto;
  padding: 10px;
}

.component-container {
  border: 1px solid blue;
  margin-left: 20px;
  width: 500px;
  height: 500px;
  float: left;
  padding: 10px;
}

.component-container ul {
  list-style-type: none;
}
