<div class="preview-container">
  <ng-template  workspace-host></ng-template>
</div>
<div class="component-container">
  <ul>
    <li>
      <button (click)="editor='text'">Text</button>
    </li>
    <li>
      <button (click)="editor='img'">Img</button>
    </li>
  </ul>
  <div *ngIf="'text' === editor" class="text-editor">
    Text: <input type="text" [(ngModel)]="textData.text">
    <button (click)="onTextEditFinish()">Finish</button>
  </div>
  <div *ngIf="'img' === editor" class="img-editor">
    Img src: <input type="text" [(ngModel)]="imgData.src">
    <button (click)="onImgEditFinish()">Finish</button>
  </div>
</div>
<div class="clear"></div>
<button (click)="onSaveDesign()">Save Design</button>
